@font-face{
	font-family:"TextCondPro-Regular";
	src:url("fonts/PFDinTextCondPro-Regular.otf");
}
header{
	max-width: 1130px;
	width: 100%;
	height: 78px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}
.header-menu ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 110px;
}
.header-menu li{
	list-style-type: none;}
.header-menu a{
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	padding-right: 10px;
	font-family:"TextCondPro-Regular";
}
.header-menu li.active a {
	color: #FBCE1F;
}
.header-menu a:hover{
	color: #FBCE1F;
}

.header-language{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header-language a{
	text-decoration: none;
	color: #CECECE;
	font-size: 10px;
	font-family: Arial;
}
.header-language a:hover{
	color: #000;
}
.header-language img{
	vertical-align: middle;
}
main{
	max-width: 1130px;
	margin: auto;
}
.wrap-banner{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner-picture{
	margin-bottom: -4px;
}
.banner-picture img{
	width: 100%;
}
.banner-content{
	background: #FBCE1F;
	height: 89px;
	width: 100%;
}
.banner-content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.banner-items{
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.items-icon{
	padding: 0 20px;
}
.content{
	width: 100%;
	margin: 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.left-block{
	margin-right: 65px; 
	width: 30%;
}
.right-block{
	width: 64%;
}
.left-image{
	margin-bottom: 20px;
}
.left-button{
	margin: 10px 0;
	height: 36px;
	line-height: 36px;
	border:1px solid #FBCE1F;
	border-radius: 25px;
	text-align: center;
}
.left-button:hover{
	background: #FBCE1F;
}
.left-button a{
	color: #232323;
	font-size:24px;
	font-family:"TextCondPro-Regular";
	text-decoration: none;
}
.right-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.right-content-text h2{
	margin-top: 35px;
}
h2{
	color: #232323;
	font-family:"TextCondPro-Regular";
	text-transform: uppercase;
}
h2:after{
	content: "";
	display: block;
	height: 2px;
	background: #FBCE1F;
	margin-top: 5px;
	margin-bottom: 20px;
}
.right-content-text h2{
	width: 162px;
	font-size: 32px;
}
.right-text h2{
	margin-top: 30px;
}
.right-text-about{
	margin-top: -35px;
}
.right-content-text p{
	font-size: 14px;
	color: #232323;
	font-family: Arial;
	line-height: 23px;
	margin-top: 20px;
}
.right-text li{
	color:  #000000;
	font-family: Arial;
	font-size: 16px;
	line-height: 50px;
}
.right-text li:before{
	content: url(image/Group2.7.png);
	padding: 0 10px;
}
.right-wrap-icon{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.right-icon{
	filter: grayscale(100%);
}
.right-icon:hover{
	filter: grayscale(0);
}
footer{
	max-width: 1130px;
	margin: auto;
	padding: 30px 0;
}
hr{
	border: none;
	border-top: 1px solid#ccc;
	width: 100%;
}
.wrap-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.footer-logo{
	padding: 10px 0;
}
.footer-logo-text p{
	color: #636363;
	font-size: 12px;
	line-height: 18px;
	font-family: Arial;
}
.footer-kontakt .email{
	color: #666666;
	font-size: 21px;
	font-family:"TextCondPro-Regular";
	text-align: right;
}
.number-phone{
	color:  #000000;
	font-size: 25px;
	font-family:"TextCondPro-Regular";
}
.number-phone span{
	color:  #FBCE1F;
	font-size: 18px;
}
.company-wrap-logo{
	width: 100%;
	margin-bottom: 50px;
}
.company-breadcrumbs{
	display: flex;
	flex-direction: row;
	background: #FBCE1F;
	padding: 5px;
}
.company-breadcrumbs li{
	display: inline-block;
	padding-left: 10px;
}
.company-breadcrumbs img{
	padding-left: 10px;
	padding-bottom: 2px;
}
.company-logo img{
	width: 100%;
}
.company-contekst{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-bottom: 60px;
}
.company-contekst-aboutus{
	padding-left: 20px;
}
.company-contekst-aboutus h2{
	font-size: 24px;
	margin-top: 20px;
	font-weight: normal;
}
.company-contekst-aboutus h2:after{
	width: 120px;
}
.company-contekst-aboutus p{
	padding: 20px 0;
	font-size: 12px;
	color: #232323;
	font-family: Arial;
}
.company-contekst-aboutus ul{
	padding-left: 20px;
}
.company-contekst-aboutus li{
	font-size: 12px;
	color: #232323;
	font-family: Arial;
	list-style-type: disc;
}
.product-wrap{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding-bottom: 60px;
}
.product-contekst{
	width:74%;
	padding-left: 30px;
}
.product-menu ul{
	padding-left: 20px;
}
.product-menu a{
	text-decoration: none;
	color: #404040;
	font-size: 14px;
	font-family:"TextCondPro-Regular";
	line-height: 30px;
}
.product-contekst p{
	padding-top: 15px;
	font-size: 12px;
	font-family: Arial;
	color: #232323;
}
.product-contekst h2{
	font-size: 24px;
	font-weight: normal;
}
.product-contekst h2:after{
	width: 115px;
}
.service-contekst{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-bottom: 60px;
}
.service-contekst-text p{
	padding-left: 20px;
	font-size: 12px;
	padding-top: 15px;
	font-family: Arial;
	color: #232323;
}
.service-contekst-text h2{
	font-size: 24px;
	padding-left: 20px;
	font-weight: normal;
}
.service-contekst h2:after{
	width: 70px;
	text-align: left;
}
.contact-wrap{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-bottom: 60px;
}
.contact-block{
	width: 50%;
}
.contact-form h2{
	font-size: 24px;
	font-weight: normal;
}
.contact-form h2:after{
	width: 155px;
}
.contact-adress{
	display: flex;
	flex-direction: column;
}
h3{
	color: #000000;
	font-size: 18px;
	font-family: Arial;
	padding-top: 20px;
}
.contact-adress-text{
	color: #000000;
	font-size: 14px;
	font-family: Arial;
	line-height: 18px;
}
input{
	display: block;
	height: 20px;
}
input, textarea{
	border-radius: 2px;
	border: 1px solid #ccc;
	width: 70%;
	margin-bottom: 5px;
}
label{
	color: #000000;
	font-size: 12px;
	font-family: Arial;
}
textarea{
	height:80px;
}
input.button{
	border-radius: 2px;
	border: 1px solid #FBCE1F;
	width: 50%;
	height:40px;
	background: #fff;
	font-size: 18px;
	font-family:"TextCondPro-Regular";

}
input.button:hover{
	background: #FBCE1F;
}